.token_name_container{
    /* background: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


.input{
    /* background: #000; */
    width: 90%;
}

.input input{
    width: 96%;
    padding: 10px;
    border-radius: 20px;
    border: solid 1px #FFFFFF;
    outline: none;
    background: #FFFFFF4D;
    color: #FFFFFF;
    font-size: 1rem;
}

.links{
    width: 90%;
    display: flex;
    justify-content: space-between;
    font-size: 1.3rem;
}

.links a{
    color: gray;
    cursor: pointer;
    text-decoration: none;
}

.links a:hover{
    color: lightgray;
}


.description{
    /* background: #000; */
    width: 90%;
    text-align: left;
    color: gray;
    font-size: .8rem;
    padding: 50px 0;
}
